.header-text{
	background-color: aqua;
	color: #3E3E3E;
	padding: 15px 0;
	margin: 0;
	text-align: center;
}

.control{
	display: flex;
	justify-content: center;
	margin:25px 200px;
	padding: 10px 25px;
	border: 1px solid #8E7A7B;
	border-radius: 5px;
}

.table{
	border-collapse: collapse;
	width: 90%;
	margin-bottom: 50px;
	text-align: center;
}

.table-img{
	width: 90%;
	height: 200px;
}

.btn-add,.btn-edit,.btn-delete,.btn-exit{
	margin: 0 5px;
	font-size: 17px;
}

.btn-exit_link{
	text-decoration: none;
	color: #121212;
}

.btn-add{
	background-color: #3AFF38;
}

.btn-edit{
	background-color: #B4CD29;
}

.btn-delete{
	background-color: red;
}

.btn-seach-id{
	background-color: #3AFF38;
	width: 70px;
	height: 35px;
	font-size: 18px;
	border: none;
	border-radius: 2px;
	padding: none;
	cursor: pointer;
	outline: none;
}

.control-text{
	font-size: 17px;
	color: #232323;
	margin-right: 16px;
	padding: 5px 10px;
}

.body-text{
	text-align: center;
}

.form{
	width: 500px;
	padding: 0 32px;
}

.form-header{
	margin: 0;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	color: rgba(38,34,34,1.00);
	padding: 25px 0;
}

.form-group{
	margin-top: 10px;
}

.input__id{
	width: 52%;
	height: 35px;
	margin:0 15px;
	padding:0 12px;
	font-size: 15px;
	border-radius: 2px;
	border: 1px solid #B5B4B4;
	outline:none;
}

.form__input{
	width: 100%;
	height: 40px;
	margin-top: 5px;
	padding:0 12px;
	font-size: 15px;
	border-radius: 2px;
	border: 1px solid #B5B4B4;
	outline:none;
}

.form__input-img{
	width: 100%;
	height: 25px;
	margin-top: 5px;
	font-size: 15px;
	outline:none;
}

.form__input:focus{
	border-color:#111111;
}

.form__control-btn{
	margin: 40px 0;
	display: flex;
	justify-content: flex-end;
}